<h1>Tasks List</h1>

<div id="tasks">
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>task</th>
				<th>detail</th>
				<th>link</th>
			</tr>
		</thead>
		<tbody>
		<% @tasks.each do |task| %>
			<tr>
				<td><%= task.id %></td>
				<td><%= task.name %></td>
				<td><%= task.detail %></td>
				<td><%= link_to "Show", task_path(task) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
