<h1>Detail</h1>
<div>
  <p>
    <strong>Name:</strong>
    <%= @task.name %>
  </p>

  <p>
    <strong>detail:</strong>
    <%= @task.detail %>
  </p>

</div>

<div>
  <%= link_to "Back to tasks list", tasks_path %>
</div>
